.signUp__screen{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.signUp__screen__form{
    display: flex;
    flex-direction: column;
    padding: 3.5rem 2rem;
   
    
}

.signUp__screen__div{
    display: flex;
    width: 30%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.signUp_title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.signUp__inp{
   
    border:none;
    height: 2.3rem;
    width: 100%;
   font-size: 1rem;
   color: black;
   margin-bottom: 20px;
   border-radius: 3px;
   
}
input::placeholder{
    padding-left: .3rem;
    font-size: .9rem;
   }
.signUp__inp:focus{
    /* background: #454545; */
}
.signUp__btn{
    background-color: red;
    border-radius: 4px;
    border:none;
    padding: 10px 15px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;

}
.signup__screen__span{
    color: grey;
    margin-right: 10px;
}
.signup__screen__span__link:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width:900px) {
    .signUp__screen__div{
        display: flex;
        width: 75%;
        background: rgba(0, 0, 0, 0.8);
        align-items: center;
        justify-content: center;
        border-radius: 6px;
    }
}
@media screen and (max-width:500px) {
    .signUp__screen__div{
        display: flex;
        width: 85%;
        background: rgba(0, 0, 0, 0.8);
        align-items: center;
        justify-content: center;
        border-radius: 6px;
    }
}